.main {
  font-family: var(--overPass);
  padding: 4rem 0rem;
}

.editor_section,
.management_section,
.free_section,
.tooling_section {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--Very_dark_blue);
  text-align: center;
}

p {
  color: var(--Very_dark_grayish_blue);
  line-height: 1.5;
}

.container {
  background: url(../assets//images/bg-pattern-circles.svg) no-repeat,
    linear-gradient(to right, var(--Very_dark_gray_blue), var(--Very_dark_desaturated_blue));
  background-position: center -150px;
  background-size: 140% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  height: 500px;
  padding: 12rem 1.5rem 1.5rem 2rem;
  position: relative;
  margin-top: 15rem;
  margin-bottom: 4rem;
  border-radius: 0 6rem 0 6rem;
  width: 100%;
}

.container p {
  opacity: .8;
  color: white;
  line-height: 1.5;
}

.container h3 {
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.illus_phone {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%);
  max-width: 380px;
  max-height: 400px;
}
.illustration_laptop {
  max-width: 600px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
    text-align: left;
  }
  .illustaration.main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    max-width: 100vw;
    padding: 2rem;
  }
  .illustaration.main img {
    max-width: 700px;
    position: absolute;
    top: -15%;
    right: 0%;
    object-fit: cover;
  }
  .illustaration.main h3 {
    text-align: left;
  }
  .editor_section,
  .management_section {
    text-align: left;
    max-width: 50%;
  }
  .container {
    max-height: 350px;
    background-position: 0px -550px;
    background-size:auto auto;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem 1.5rem 1.5rem 2rem;
    text-align: left;
  }
  .container h3 {
    text-align: left;
  }
  .illus_phone {
    top: -15%;
    left: 30%;
    max-width: 500px;
    max-height: 500px;
  }
  .container div {
    max-width: 40%;
  }
  .free_section {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .free_section h3 {
    margin-bottom: 1rem;
  }
  .tooling_section {
    text-align: left;
    padding: 0;
    margin-top: 2rem;
  }
  .free_section>div {
    max-width: 30%;
  }
  
}