:root {
  /* # Colors */

  /* ## Primary */
  --Light_red: hsl(356, 100%, 66%); /* (CTA text) */
  --Very_light_red: hsl(355, 100%, 74%); /* (CTA hover background) */
  --Very_dark_blue: hsl(208, 49%, 24%);/* (headings) */

 /* ## Neutral */
  --White: hsl(0, 0%, 100%); /* (text) */
  --Grayish_blue: hsl(240, 2%, 79%); /* (footer text) */
  --Very_dark_grayish_blue: hsl(207, 13%, 34%); /* (body copy) */
  --Very_dark_black_blue: hsl(240, 10%, 16%); /* (footer background) */

 /* ## Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --Very_light_red: hsl(13, 100%, 72%);
  --Light_red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --Very_dark_gray_blue: hsl(237, 17%, 21%);
 --Very_dark_desaturated_blue: hsl(237, 23%, 32%);

 /* ## Fonts */
 --overPass : "Overpass", sans-serif;
 --Ubuntu: "Ubuntu", sans-serif;
}
/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  font-size: 1rem;
}

